body {
  background-color: ##F7F5FB;
}

.cardHighlight {
  min-height: 100%;
  background-color: #084887 !important;
}

#navbar {
  background-color: #F58A07;
}

#navLists {
  display: grid;
  grid-column-start: 4;
}