
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Merriweather+Sans&display=swap');

* {
  box-sizing: border-box;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.each-slide {
  height: 700px !important;
}

@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 768px) {
  .each-slide {
    width: 100% !important;
    height: 400px !important;
  }
}

@media only screen and (min-width: 992px) {
  .each-slide {
    width: 100% !important;
    height: 700px !important;
  }
}

#regCard {
  width: 43% !important;
  background-color: #F9AB55;
  font-size: 100%;
}


@media only screen and (min-width: 600px) {
  #regCard {
    width: 50% !important;
  }
}

.regstrBtn1 {
  width: 600px !important;
  background-color: #084887 !important;
  font-size: 100% !important;
}

@media only screen and (max-width: 600px) {
  .regstrBtn1 {
    width: 90% !important;
    margin-top: -190px;
  }
}

@media only screen and (min-width: 600px) {
  .regstrBtn1 {
    width: 100% !important;
    margin-top: auto;
  }
}

.regstrBtn2 {
  width: 600px !important;
  background-color: #084887 !important;
  font-size: 100% !important;
}

@media only screen and (max-width: 600px) {
  .regstrBtn2 {
    width: 90% !important;
  }
}

@media only screen and (min-width: 600px) {
  .regstrBtn2 {
    width: 100% !important;
  }
}

.register {
  margin-top: 200px !important;  
}

.loginCard {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #F9AB55 !important;
}

.react-tel-input .form-control {
  width: 100% !important;
}

@media only screen and (max-width: 600px) {
.img {  
  margin: 4% auto auto auto;  
}

#navigationBar {
  background-color: #F58A07 !important;
  font-family: 'Merriweather Sans', sans-serif; 
}

.navContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.rowNavLogo {
  grid-column: 2/4;
  display: block;
}

.navLogoLg {
  width: 115%;
}

.navList {
  grid-row: 2/2;
  grid-column: 1/1;
}

.navCart {
  grid-row: 2/2;
  grid-column: 3/3;
  margin-top: 20%;
  width: 55px;
  margin-left: 30% !important;
}

.navOptions {
  color: #F7F5FB !important;
  font-size: 90%;
  display: inline !important;
}

.navProfile {
  grid-column: 4/4;
  grid-row: 2/2;
  margin-top: 10%;
  width: 10% !important%;
  margin-left: 50%;
}

.personNav {
  width: 30px;
}

.each-slide {
  width: 100% !important;
  height: 150px !important;
}

.title {
  margin-top: -2% !important;
}

.themeTopImage { 
 width: 80% !important; 
 height: 90%;
 margin-left: 8%;
}

.themeTopImageFood {
  width: 80% !important;
  height: 90%;
  margin-left: 8%;
}

.themeTopText {
  font-size: 90%;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  margin-top: 5%;
}

.bottomThemeDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 15%;
}

.themeBottomImg {
  display: none;
}

.longThemeImg {
  width: 140%;
  height: 60%;
  margin-left: 4% !important;
}

.fourthCol {
  grid-column: 1/3;    
}

.horizontalThemeImg {
  width: 140%;
  height: 160%;
  margin-left: 4% !important;
}

.fifthCol {
  grid-column: 1/3;
  grid-row: 6/6;
  margin-top: -70%;
}

.themeRowButton {
  text-align: center !important;
  margin-top: 50% !important;
}

.themeButton {
  font-size: 80% !important;
  background-color: #084887 !important;
}

.cardPosition {   
  position: static;
  margin-top: 10%; 
  margin-left: auto !important;
  margin-right: auto !important; 
}


#editFunction {
  background-color: #084887;
  font-size: 70%;
}

#deleteFunction {
  background-color: #d33;
  font-size: 70%;  
  border: none;
}

.tableTitle {
  font-size: 66%;
}

.tableData {
  font-size: 66%;
  margin-left: -10%;
}

.updateButton, .updateButton:hover {
  background-color: #084887;
  color: white;
  font-size: 60%;
  border: none;
  padding: 3%;
  border-radius: 4px;
  text-decoration: none;
  display: none;
}

.deleteButton {
  background-color: #d33;
  color: white;
  font-size: 60%;
  border: none;
  padding: 3%;
  border-radius: 4px;
  text-decoration: none;
  display: none;
}

.tableImage {
  width: 100% !important;
  height: 70% !important;
}

.createBtn {
  background-color: #084887 !important;
  font-size: 80% !important;
}


.sellerImg {
  position: static;
  margin-left: auto;
  width: 60%;
  height: 50%;
}

.subtext {
  font-size: 80%;
}

.title {
  font-size: 95% !important;
  margin-left: 5%;
  margin-top: 2%;
  text-align: center;
}

.inventoryCard {
  display: none !important;
}

.tableTitle6 {
  display: none;
}

.updateSmallScrn {
  display: block;
  font-size: 100%;
}

.deleteSmallScrn {
  color: #d33;
  cursor: pointer;
}

.productTable {
  display: none;
}

.formText {
  font-size: 80%;
}

.inputField {
  width: 100% !important;
  font-size: 95% !important;
}

.editForm {
  display: none;
}

.createForm {
  display: none;
}

.createSmallScrn {
  width: 80%;
  margin: auto;
}

.createSmallScrn {
  margin-top: -15% !important;
}

.fileError {
  color: red;
  font-size: 80% !important;
}

.inputCreate {
  font-size: 80% !important;
}

.buttonColor {
  background-color: #084887 !important;
}

#regCard {
    width: 100% !important;
    padding-left: 10% !important;
    padding-right: 10% !important;
    margin: 0% 4% auto 4% !important;
    font-size: 90%;
}

.registerField {
  font-size: 90% !important;
}

.register {
  margin-top: 200px !important;  
  font-size: 80%;
}

.registerTitle {
  font-size: 120%;
}

.loginTitle {
  font-size: 120%;
  margin: 6% auto 8% auto;
}

.loginCard {
  width: 100%;
  font-size: 90%;
}

.loginInput {
  font-size: 80% !important;
}

.loginBtn {
  background-color: #084887 !important;
  font-size: 80% !important;
}

.cardHighlight {    
  text-align: center;
  background-color: #909CC2 !important;
  width: 80%;
  margin: 5% auto auto auto;
}

.themeText {
  font-size: 95% !important;
  font-weight: bold;
}

.themeSubtext {
  font-size: 80%;
}

.banner {
  width: 100%;
  height: auto !important;
  margin: 0px;
}

.infoImage {
  width: 60% !important;
  margin-top: 10%;
  margin-left: 20%; 
}

.productInfo {
  display: none;
}

.infoTitle {
  font-size: 150% !important;
  margin-top: 5% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.infoPrice {
  font-size: 105%;
}

.infoDescrip {
  font-size: 90% !important;
}

.infoQuantity {
  font-size: 80%;
}

.infoInput {
  width: 50%;
  font-size: 80%;
}

.totalAmount {
  text-align: justify ;
  font-size: 105% !important;
  margin-left: auto !important;
}

.total {
 margin-left: auto !important;
 font-weight: bold;
 font-size: 90%;
 text-align: right;
}

.checkout {
  margin-left: 63% !important;
  font-size: 85% !important;
  width: 40%;
  background-color: #084887 !important; 
}

.name {
  display: inline !important;
  font-size: 100% !important;
}

.nameData {
  margin-left: 3% !important;
  display: inline-block;
  font-size: 90%;
}

.phone {
  margin-top: 3% !important;
  display: inline-block;
  font-size: 100% !important;
}

.phonData {
  display: inline-block !important;
  margin-left: 3% !important;
  font-size: 90%;
}

.email {
  display: inline;
  font-size: 100% !important;
}

.emailData {
  margin-left: 3%;
  font-size: 90%;
}

.footer {
  background-color: #F7F5FB;
  margin-top: 25vh;
}

.footerText {
/* display: grid;
 grid-template-columns: repeat(2, 1fr) !important;*/
}


.contactInfo {
 font-size: 75%;
 margin-top: 5% !important;
}

.copyright {
  text-align: center !important;  
  font-size: 70%;
  margin-top: 5%;
}

.contact {
  display: block;
}


.contactDetails {
  margin-left: 1% !important;
}

.contactIcon {
  width: 5%;
}

.socialMedia {
  width: 6%; 
  margin-right: 8%;
  margin-top: 2%;
}

.logoPic {
  width: 70%;
  margin-top: 5%;
  margin-left: 15% !important;
}

}

@media only screen and (min-width: 600px) {

#navigationBar {
  background-color: #F58A07 !important;
  font-family: 'Merriweather Sans', sans-serif;  
}

.navContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.rowNavLogo {
  grid-column: 2/3;
}

.navLogoLg {
  width: 140%;
  margin-left: 65px;
}

.navList {
  grid-column: 1/1 !important;
  grid-row: 2/2 !important;
}

.navOptions {
  color: #F7F5FB !important;
  font-size: 90%;
}

.navCart {
  grid-column: 4/4;
  grid-row: 2/2;
  margin-left: 50px !important;
  margin-top: 15px;
}

.cartFont {
  width: 25px;
}

.navProfile {
  grid-column: 4/4;
  grid-row: 2/2;
  margin-left: 90px !important;
  margin-top: 10px;

}

.personNav {
  width: 25px;
}

.cardPosition {   
  position: static;
  margin-top: 10%;  
}

.themeTopImage { 
 width: 100% !important; 
}

.themeTopImageFood {
  width: 100%;
  height: 93%;
}

.bottomThemeDiv {
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.firstCol {
  grid-column: 1/2;
  margin-left: auto !important;
  margin-right: -13% !important;
}

.secondCol {
  grid-column: 3/4 !important;
}

.thirdCol {
  grid-column: 5/6 !important;
}

.fourthCol {
  grid-column: 7/8;
  margin-right: -5% !important;
}

.fifthCol {
  grid-column: 1/7;
  margin-left: auto !important;
}

.themeBottomImg {
  width: 200%;  
  height: 80%;
}

.longThemeImg {
  width: 200%;
  height: 150%;
}

.horizontalThemeImg {
  width: 100%;
  height: 118%;
  margin-top: -11%;
}

.themeRowButton {
  text-align: center !important;
  margin-top: 5%;
}

.themeButton {
  font-size: 80% !important;
  background-color: #084887 !important;
}

.themeTopText {
  font-size: 90% !important;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

.inventoryCard {
  display: none !important;
}

.updateSmallScrn {
  display: none;
}

.deleteSmallScrn {
  display: none;
}

.tableSmallScrn {
  display: none;
}

.smallScrnEdit {
  display: none;
}

.updateButton, .updateButton:hover {
  background-color: #084887;
  color: white;
  font-size: 90%;
  border: none;
  padding: 3%;
  border-radius: 4px;
  text-decoration: none;
}

.deleteButton {
  background-color: #d33;
  color: white;
  font-size: 90%;
  border: none;
  padding: 3%;
  border-radius: 4px;
  text-decoration: none;
}

.createBtn {
  background-color: #084887 !important;  
}

.buttonColor {
  background-color: #084887 !important;
}

.createSmallScrn {
  display: none;
}

.loginBtn {
  background-color: #084887 !important;
}

.loginTitle {
  margin: 4% auto 4% auto;
}

.cardHighlight {    
  text-align: center;
  background-color: #909CC2 !important;
  width: 80%;
  margin: 5% auto auto auto;
}

.banner {
  width: 100%;
  height: 100% !important;
  margin: 0px;
}

.infoImage {
  width: 80%;
  height: 70%;
}

.productInfo {
  margin-top: 10%;
}

.infoInput {
  margin-top: 2%;  
}

.productInfoSmlScrn {
  display: none;
}

.totalAmount {
  text-align: justify ;
  margin-left: 340% !important;
}

.total {
 margin-left: 58%;
 font-weight: bold;
}

.checkout {
  margin-left: 78% !important;
  width: 20%;
  background-color: #084887 !important; 
}

.footer {
  background-color: #F7F5FB;
  margin-top: 20vh;
}

.footerText {
 display: grid;
 grid-template-columns: repeat(3, 1fr) !important;
}

.logoPic {
  grid-column: 1/3 !important;
  width: 100%;
  margin-left: 30% !important;
  margin-top: 25%;
}

.contactInfo {
 grid-column: 3/3 !important;
 font-size: 90%;
 margin-top: 4%;
}

.copyright {
  grid-column: 2/3 !important;
  text-align: center;
  font-size: 90%;
}

.contact {
  display: block;
}


.contactDetails {
  margin-left: 1% !important;
}

.socialMedia {
  width: 5%; 
  margin-right: 5%;
  margin-top: 2%;
}

.contactIcon {
  width: 5%;
  margin-right: 2%;
}
}


@media only screen and (min-width: 992px) {
.title {
 position: static;
 margin-top: -25%;
 text-align: justify;
 font-size: 150% !important;
 font-family: 'Merriweather Sans', sans-serif;
}

.userNav {  
  background-color: #F7F5FB !important;  
  height: 30px !important;
}

.subtext {
  font-size: 105%;
}

.img {
  position: static; 
  margin: 2% auto -1% 1%; 
  /*width: 100%;*/
}

#navigationBar {  
  background-color: #F58A07 !important;
  font-family: 'Merriweather Sans', sans-serif; 
}

.navContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.rowNavLogo {
  grid-column: 3/4;
  grid-row: 1/1;
  margin-top: -2%;
  display: inline;
}

.navList {
  grid-row: 2/2;
  grid-column: 3/4 !important;
  text-align: center;
}

.navLogoLg {
 display: block;
 width: 100% !important;
 margin-left: 35% !important;
}

.navOptions {
  color: #F7F5FB !important;
  font-size: 90%; 
  display: inline; 
  margin-right: 10% !important;
  margin-left: 10% !important;
}

.navCart {
  grid-column: 6/6;
  grid-row: 2/2;
  margin-top: 4%;
  margin-left: 30% !important;
}

.personNav {  
  width: 30px !important;
}

.navProfile {
  grid-column: 6/6;
  grid-row: 2/2;
  margin-left: 60% !important;
  margin-top: -0px;
}

.cartFont {
  width: 25px !important;
}

.cartLink {
 grid-column: 5/6;
}

.banner {
  width: 100%;
  height: auto;
  margin: 0px;
}

.cardPosition {   
  position: static;
  margin-top: 10%;  
}

.cardHighlight {  
  min-height: 100% !important;
  text-align: center;
  /*background-color: #909CC2 !important;  */
  
}

.themeTopImage { 
 width: 100% !important; 
}

.themeTopImageFood {
  z-index: -1;
  width: 100% !important;
  height: 93.5% !important;
}

.themeTopText {
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

.bottomThemeDiv {
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.firstCol {
  grid-column: 1/2;
  margin-left: auto !important;
  margin-right: -13% !important;
}

.secondCol {
  grid-column: 3/4 !important;
}

.thirdCol {
  grid-column: 5/6 !important;
}

.fourthCol {
  grid-column: 7/8;
  margin-right: -5% !important;
}

.fifthCol {
  grid-column: 1/7;
  margin-left: auto !important;
}

.themeBottomImg {
  width: 200%;  
  height: 80%;
}

.longThemeImg {
  width: 200%;
  height: 150%;
}

.horizontalThemeImg {
  width: 100%;
  height: 118%;
  margin-top: -11%;
}

.themeRowButton {
  text-align: center !important;
  margin-top: 5%;
}

.themeButton {
  font-size: 100% !important;
  background-color: #084887 !important;
}

#editFunction {
  color: green;
  margin-left: 80%;
  font-size: 95%;

}

#deleteFunction {
  color: red;
  font-size: 95%;
  
}

.cardText {
  margin-left: 30%;
}

.updateButton, .updateButton:hover {
  background-color: #084887;
  color: white;
  font-size: 90%;
  border: none;
  padding: 3%;
  border-radius: 4px;
  text-decoration: none;
}

.deleteButton {
  background-color: #d33;
  color: white;
  font-size: 90%;
  border: none;
  padding: 3%;
  border-radius: 4px;
  text-decoration: none;
}

.createBtn {
  background-color: #084887 !important;  
}

.inventoryCard {
  display: none !important;
}

.updateSmallScrn {
  display: none !important;
}

.deleteSmallScrn {
  display: none !important;
}

.tableSmallScrn {
  display: none;
}

.smallScrnEdit {
  display: none;
}

.buttonColor {
  background-color: #084887 !important;
}

.createSmallScrn {
  display: none;
}

.loginBtn {
  background-color: #084887 !important;
}

.loginTitle {
  margin: 4% auto 4% auto;
}

.infoImage {
  width: 100%;
  height: 100%;
}

.productInfo {
  margin-top: 10%;
}

.infoCol {
  margin-left: 5% !important;
}

.productInfoSmlScrn {
  display: none;
}

.totalAmount {
  text-align: justify ;
  margin-left: 340% !important;
}

.total {
 margin-left: 58%;
 font-weight: bold;
}

.checkout {
  margin-left: 75% !important;
  width: 20%;
  background-color: #084887 !important; 
}

.name {
  display: inline !important;
}

.nameData {
  margin-left: 3% !important;
  display: inline-block;
}

.phone {
  margin-top: 1% !important;
  display: inline-block;
}

.phonData {
  display: inline-block !important;
  margin-left: 3% !important;
}

.email {
  display: inline;
}

.emailData {
  margin-left: 3%;
}

.footer {
  background-color: #F7F5FB;
  margin-top: 32vh;
}

.footerText {
 display: grid;
 grid-template-columns: repeat(3, 1fr) !important;
}

.footerLogo { 
  /*margin-top: -5%;*/
  grid-column: 1/1;
  width: 170%;
  margin-left: -20% !important;
}

.logoPic {
  width: 50%;
  margin-top: 15%;
}

.contactInfo {
 grid-column: 3/3 !important;
 font-size: 90%;
 margin-top: 4%;
}

.copyright {
  grid-column: 2/3 !important;
  text-align: center;
  font-size: 90%;
  margin-top: 10%;  
}

.contact {
  display: block;
}

.contactDetails {
  margin-left: 1% !important;
}

.socialMedia {
  width: 5%; 
  margin-right: 5%;
  margin-top: 2%;
}

.contactIcon {
  width: 5%;
  margin-right: 2%;
}


.navLogo {
  display: none;
}
}

.fileError {
  color: red;
  font-size: 90%;
}




