@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Merriweather+Sans&display=swap');


.cardHighlight {  
  min-height: 100% !important;
  text-align: center;
  background-color: #909CC2 !important;  
}

.cardPosition {   
  position: relative;
  /*top: -80px !important; */

  /*font-family: 'Alegreya Sans', sans-serif;*/
}

@media only screen and (max-width: 600px) {
  .cardPosition {
    margin-top: 10px !important;
  }
}

@media only screen and (min-width: 768px) {
  .cardPosition {
    margin-top: -80px !important;
  }
}

@media only screen and (min-width: 992px) {
  .cardPosition {
    margin-top: -80px !important;
  }
}

.gadgetImage1 {
  width: 60% !important;
  height: auto !important;
  margin-left: -100px !important; 
 
}

.gadgetImage2 {
  width: 67% !important;
  height: auto !important;
  margin-right: -100px !important;  

}

.gadgetImage3 {
   width: 61% !important;
  height: auto !important; 
  margin-left: -60px !important;
}

.gadgetImage4 { 
  width: 69% !important;
  height: auto !important; 
  margin-right: -60px !important;
}

#navigationBar {
  height: 50% !important;  
  background-color: #F58A07 !important;
  font-family: 'Merriweather Sans', sans-serif;
}

.nav{
  background-color: #F58A07;
}

.navLists {
  /*display: grid;*/
  /*grid-column-start: 4;  */
}

.navOptions {
  color: #F7F5FB !important;
}

.banner {
  width: 100%;
  height: auto;
  margin: 0px;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.each-slide {
  height: 700px !important;
}

@media only screen and (max-width: 600px) {
  .each-slide {
    width: 100% !important;
    height: 150px !important;
  }
}

@media only screen and (min-width: 768px) {
  .each-slide {
    width: 100% !important;
    height: 400px !important;
  }
}

@media only screen and (min-width: 992px) {
  .each-slide {
    width: 100% !important;
    height: 700px !important;
  }
}